* {
    font-family: 'Roboto Mono', monospace;
    font-size: medium;
}

.title {
    height: 4rem;
    font-family: 'Roboto Mono', monospace;
    font-size: large;
}

.container-chat {
    display: block;
    margin-top: 10px;
    width: 80%;
    margin: 20px 5% 10% 5%;
    padding: 3%;
    height: 70%;
    border: 3px blueviolet double;
    border-radius: 10px;
}

.bloc-saisie {
    display: flex;
    margin: 3px 2px 10px 2px;
    justify-content: space-between;
}

.bloc-saisie input {
    box-shadow: 0px 4px 10px 3px orange;
    height: 2rem;
}

#myinput {
    width: 80%;
}

.section-chat {
    align-items: center;
}

#message {
    display: flex;
    flex-direction: column;
    width : 70%,
}

.message {
    margin: 5px;
}
.auteur {
    text-align: left;
}

.interlocuteur {
    text-align: right;
}

.presentation {
    font:bold;
    font-style: italic;
    font-weight: 900;
}

.hidden {
    display: none;
}

#action {
    position: fixed;
    top: 20px;
    right: 50px;
    padding: 10px;
    width: 150px;
}

.attaque {
    transform: rotateX(180deg);
}

sub {
    position: relative;
    top: -1.5rem;
    left: 1rem;
    font-size: 13px;
}